{
  "plugins": [
    "prettier-plugin-toml",
    "prettier-plugin-sh",
    "prettier-plugin-pkg",
    "prettier-plugin-go-template",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true,
        "embeddedLanguageFormatting": "off",
        "htmlWhitespaceSensitivity": "strict",
        "rangeStart": 198
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "tabWidth": 4,
        "embeddedLanguageFormatting": "off"
      }
    },
    {
      "files": ["*.toml"],
      "options": {
        "indentTables": true,
        "indentEntries": true,
        "reorderKeys": true,
        "trailingComma": "es5",
        "tabWidth": 4,
        "semi": false,
        "singleQuote": true
      }
    }
  ],
  "tailwindStylesheet": "./assets/css/main.css",
  "tailwindConfig": "./tailwind.config.js",
  "tailwindFunctions": ["tw"]
}
