{{ $emojis := dict
  "caution" ":exclamation:"
  "important" ":information_source:"
  "note" ":information_source:"
  "tip" ":bulb:"
  "warning" ":warning:"
}}

{{ $svgs := dict
  "caution" "fa-circle-exclamation"
  "important" "fa-star"
  "note" "fa-note-sticky"
  "tip" "fa-lightbulb"
  "warning" "fa-triangle-exclamation"
}}

{{ if eq .Type "alert" }}
  <blockquote class="alert alert-{{ .AlertType }}">
    <p class="alert-heading">
      <i class="fa-solid {{ index $svgs .AlertType }} pr-1"></i>
      {{ with .AlertTitle }}
        {{ . }}
      {{ else }}
        {{ or (i18n .AlertType) (title .AlertType) }}
      {{ end }}
    </p>
    {{ .Text }}
  </blockquote>
{{ else }}
  <blockquote>
    {{ .Text }}
  </blockquote>
{{ end }}
