<!doctype html>
<html
  class="bg-neutral-50 text-neutral-900 dark:bg-dark-primary dark:text-gray-300"
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="@container">
      <header
        class="py-8 flex flex-col items-center content-center">
        {{ partial "header.html" . }}
      </header>
    <main class="main flex flex-col p-8 mx-64 rounded-2xl dark:bg-dark-secondary">
      {{ block "main" . }}{{ end }}
    </main>
    <footer
      class="mb-25 pt-8 flex flex-col items-center">
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
