<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .menu-open #mobile-nav {
      display: flex;
    }
    .menu-open .hamburger {
      position: fixed;
      z-index: 30;
    }
  </style>
  {{ block "head" . }}{{ end }}
</head>
<body class="min-h-screen flex flex-col flex-wrap mx-0 md:mx-16 text-sm md:text-base" id="body">
  <button onclick="document.getElementById('body').classList.toggle('menu-open')" class="hamburger md:hidden fixed top-4 right-4 z-20 p-2 bg-orange-600 text-white rounded">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>

  <div class="flex flex-row flex-1 border-l-2 border-b-2 border-orange-600">
    <main class="bg-gray-100 p-5 flex flex-col flex-auto">
      {{ block "main" . }}{{ end }}
    </main>

    <!-- Desktop nav -->
    <nav id="mobile-nav" class="hidden md:flex bg-gray-100 text-gray-900 pt-5 px-5 pb-2 flex-col border-l-2 border-r-2 border-orange-600 w-full md:w-3/4 lg:max-w-80 fixed md:static inset-0 z-10 items-center">
      <div class="logo mb-5 items-center">
        <img src="{{ .Site.BaseURL }}sticker.png" alt="Logo" class="max-w-full h-auto w-32 md:w-auto">
      </div>
      <div class="nav-bar flex flex-col justify-center items-center border-t-2 border-b-2 border-orange-600">
        <ul class="py-2">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li class="hover:border hover:border-orange-600 px-3 py-2">
            <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}text-orange-600{{ else }}text-gray-700{{ end }} block">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="mt-auto nav-bar-bottom flex flex-col justify-center md:items-center md:border-t-2 md:border-orange-600 text-sm">
        <ul class="pt-4">
          <li><a href="{{ .Site.Params.github }}" class="text-gray-700 hover:underline flex items-center"><img src="{{ .Site.BaseURL }}octocat-1.png" alt="GitHub" class="w-6 h-auto mr-2">GitHub</a></li>
          <li class="text-xs">&copy; {{ now.Format "2006" }} {{ .Site.Title }}</li>
          <li class="text-xs">{{ .Site.Params.footer_tagline | default "Made with 🧡 in the MidWest" }}</li>
        </ul>
      </div>
    </nav>
  </div>
  <footer class="mt-auto m-0 p-0 flex flex-row items-center text-center justify-center">
    {{ block "footer" . }}{{ end }}
  </footer>
</body>
</html>
