{{ define "main" }}
  {{ $pages := site.RegularPages }}
  {{ $paginator := .Paginate $pages }}

  {{ range $paginator.Pages }}
    <article class="flex-col">
      <h2><a class="no-underline" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ if eq .Truncated false }}
      <p>There is no summary. Someone got lazy.</p>
      {{ else }}
      {{ .Summary }}
      {{ end }}
      {{ if .Truncated }}
        <span class="read-more mt-8 flex flex-row">
          <a href="{{ .RelPermalink }}">Read More &rarr;</a>
        </span>
      {{ end }}
    </article>
    <hr />
  {{ end }}
  {{ template "_internal/pagination.html" . }}
  _default/home.html
  {{ end }}
