<meta charset="utf-8" />
<meta name="viewport" content="width=device-width initial-scale=1.0" />
{{- if .IsHome }}
<title>{{- site.Title | emojify }}</title>
{{- else }}
<title>{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}</title>
<meta name="title" content="{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}" />
{{ end -}}
<!-- Metadata -->
{{ if .Description -}}
<meta name="description" content="{{ .Description }}" />
{{- else -}}
<meta name="description" content="{{ $.Site.Params.Description }}" />
{{- end -}}
{{- if .Keywords -}}
<meta name="keywords" content="{{ . }}" />
{{- else -}}
{{- with .Site.Params.keywords -}}
<meta name="keywords" content="{{ . }}" />
{{- end -}}
{{- end -}}
{{- with .Site.Params.robots -}}
<meta name="robots" content="{{ . }}" />
{{- end -}}
{{- with .Params.robots -}}
<meta name="robots" content="{{ . }}" />
{{ end -}}
<link rel="canonical" href="{{ .Permalink }}" />
{{- range .AlternativeOutputFormats }}
{{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | emojify | safeHTML -}}
{{- end }}
{{ partialCached "head/css.html" . }}
{{- partialCached "fonts.html" . }}
{{- partialCached "head/js.html" . }}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<!-- Add your custom headers here -->
{{- partial "head/head-custom.html" . }}
{{- /* Trim EOF */ -}}
