{{- define "main" }}
{{ .Content | emojify }}
{{- $pages := where .Site.RegularPages "Section" "in" .Site.MainSections }}
{{- $paginator := .Paginate $pages }}
{{- range $paginator.Pages }}
<div class="post-preview flex-col home-ls">
  <h2><a class="no-underline" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  {{- if eq .Truncated false -}}
  <p>There is no summary. Someone got lazy.</p>
  {{- else -}}
  <span class="summary">
    {{ .Summary | emojify }}
  </span>
  {{- end -}}
  {{- if .Truncated -}}
  <span class="read-more mt-8 flex flex-row"><a href="{{ .RelPermalink }}">Read More &rarr;</a></span>
  {{- end -}}
  <hr />
  {{- end -}}
</div>
{{- partial "pagination.html" . }}
{{- end -}}
{{- /* Trim EOF */ -}}